@mixin container() {
	@media (min-width: 880px) {
		width: 841px;
		margin: 0 auto;
	}
	@media (max-width: 880px) {
		padding-right: 20px;
		padding-left: 20px;
	}
	@media (max-width: 468px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}
@mixin clearfix() {
	&::after{
	content: "";
	display: table;
	clear: both;
	}
}
@mixin no-clearfix() {
	&::after{
	content: "";
	display: none;
	clear: none;
	}
}


